* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* GLOBALE */
body {
  font-family: 'Montserrat',
  sans-serif;
}

p {
  font-size: 12px;
  color:#8C8C8C
}

.container {
  width: 80%;
  margin: 30px auto;
}

header, .banner {
  margin-bottom: 20px;
}

.banner {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.background {
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}

/* HEADER */

.logo img {
  height: 70px;
  padding-right: 20px;
  border-right: 1px solid #8C8C8C;
}

nav li {
  list-style: none;
  display: inline;
  padding-right: 10px;
  line-height: 65px;
  vertical-align: middle;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #8C8C8C;
}

nav li a:hover {
  color: #BF4C2F;
}

/* BANNER */
.bn-top {
  background-image: url(../img/banner.jpg);
}

.banner .text {
  width: 50%;
  padding: 220px 0 50px 30px;
  color: #FFFFFF;
}

.banner .text h2 {
  font-weight: 300;
  line-height: 130%;
}

.banner p {
  color: #FFFFFF;
}

/* MAIN */
main {
  margin-bottom: 10px;
}

main .title {
  margin-bottom: 20px;
  padding-top: 10px;
}

.title h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 100%;
}

main .col {
  float: left;
}

main .left-content {
  width: 20%;
}

main .main-content {
  width: 56%;
  margin: 0 2%;
}

main .right-content {
  width: 20%;
}

main .banner {
  height: 150px;
}

.left-content .banner {
  background-image: url(../img/img-1.jpg);
}

.main-content .banner {
  background-image: url(../img/banner-2.jpg);
}

.right-content .banner {
  background-image: url(../img/img-3.jpg);
}

.col h3 {
  font-size: 12px;
  font-weight: 300;
  padding-bottom: 10px;
}

/* FOOTER */
footer .text {
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

footer .text::after {
  content: '\2665';
  color: #FF0000;
}